<body id="splashscreen_body">
  <ul class="menu">
    <%= form_for(:anything, url: '/splash_screen', method: :get ) do |f| %>
        <%= f.submit "Back", class: "btn btn-secondary_h" %>
    <% end %>
  </div>
</body>