<% provide(:title, "Splash Screen") %>
<h1>Splash Screen</h1>
 
<%= button_to "Create Account", { :controller => "users", :action => "new"} %>
<%= button_to "Login", { :controller => "sessions", :action => "new"} %>