<link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif|Roboto+Condensed|Source+Serif+Pro" rel="stylesheet">

<body class="dashboard_body">
    <div class="side_nav_bar">
        <div class="menu">
            <div class="account_thumbnail">
                <div class="thumbnail_image">
                    <%= image_tag("astronaut-edited.gif",:width=>"100%", :class=>"img")%>
                </div>
                <%# need to replace with actual user name %>
                <%# <h2> Your Name </h2>  %>
                
                <h2> <%= @user.first_name %> <%= @user.last_name %> </h2>

                <%# <%= link_to user. %>
                <h3> Homeowner </h3>
            </div>
            <ul class="menu_options">
                <li tabindex="0" class="icon-dashboard">
                <span>Dashboard</span></li>

                <li tabindex="0" class="icon-contacts">
                <span>Contacts</span></li>

                <li tabindex="0" class="icon-payment">
                <span>Payment</span></li>

                <li tabindex="0" class="icon-orders">
                <span>Orders</span></li>

                <li tabindex="0" class="icon-profile">
                <span>Profile</span></li>
            </ul>
        </div>
    </div>
</body>