<body class="dashboard_body">
    <div class="side_nav_bar">
        <div class="menu">
            <div class="account_thumbnail">
                <div class="thumbnail_image">
                    <%= image_tag("astronaut-edited.gif",:width=>"100%", :class=>"img")%>
                </div>
                <div class="name_block">
                    <h2>Your name</h2>
                    <h3>Homeowner</h3>
                </div>
            </div>
            <ul class="menu_options">
                <li class="nav_link">test1</li>
                <li class="nav_link">test2</li>
                <li class="nav_link">test3</li>
            </ul>
        </div>
    </div>
</body>