<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Welcome!</h3>
            <strong>(Firstname Lastname)</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/dash" role="button">Dashboard</a>
            </li>

            <li>
                <a href="/contacts_page">
                    Contacts
                </a>
            </li>
            <li>
                <a href="/payment_page">
                    Payments
                </a>
            </li>

            <li>
                <a href="/orders_page">Orders</a>
            </li>
            <li>
                <a href="/profile_page">Profile</a>
            </li>
        </ul>

    </nav>

</div>

