<h1>CHECKOUT</h1>
<% small_keys = [] %>
<% keys = @order.attributes.keys%>
    <% keys.each do |subs| %>
        <% if subs.include? "size" %>
            <% small_keys.push subs %>
        <%end%>
    <% end %>
    
    
    <% small_keys.each do |key|%>
        <% if(@order.attributes[key]) %>
            <%="Size: #{session[:size_strings][key]}"%>
            <br>
            <%= "Quantity: #{@order.attributes[key]}" %>
            <%= "Price: $#{session[:price][key]}" %>
            <br>
            <br>
        <% end %>
    <% end %>
    