<h1>CHECKOUT</h1>

<% keys = @order.attributes.keys, small_keys = [] %>
    <% keys.each do |str| %>
        <%str.each do |subs| %>
            <% if subs.include? "size" %>
                <%= small_keys.push subs %>
            <% end %>
        <%end%>
    <% end %>
    
    
    <% small_keys.each do |key|%>
        <% if(@order.attributes[key]) %>
            <%= key%>
            <%= ", #{attributes[key]}" %>
        <% end %>
    <% end %>
    